@using FarmTrack.Models.Entities;
@model TrackerViewModel
@{
    ViewData["Title"] = "Harvest";
}

<div class="tracker-content">
    <div class="tracker-form-wrapper">
        <section class="tracker-form-section">

            <h2>Track a new crop</h2>
            <form id="crop-track-form" asp-action="TrackCrop" method="post">
                <div class="form-row">
                    <div>
                        <label for="field-name">Field</label> 
                        @if (Model == null || Model.fieldList.Count() == 0)
                        { //If there are no fields, disable select and display message
                            <select id="field-name" disabled>
                                <option>No fields exist.</option>
                            </select>
                        }
                        else
                        {
                            <select id="field-name" name="FieldId">
                                @foreach (Field field in Model.fieldList)
                                {
                                    <option value="@field.FieldId">@field.FieldName</option>
                                }
                            </select>
                        }

                        <label for="crop-name">Crop</label>
                        @if (Model == null || Model.cropList.Count() == 0)
                        {//If there are no crops, disable select and display message
                            <select id="crop-name" disabled>
                                <option>No crops exist.</option>
                            </select>
                        }
                        else
                        {
                            <select id="crop-name" name="CropId">
                                @foreach (Crop crop in Model.cropList)
                                {
                                    <option value="@crop.CropId">@crop.CropName</option>
                                }
                            </select>
                        }
                        
                    </div>
                </div>
                <div class="form-row-pair">
                    <div>
                        <label for="amount">Amount (plants)</label>
                        <input type="number" id="amount" placeholder="Amount" name="Amount">
                    </div>

                    <div>
                        <label for="plant-date">Plant date</label>
                        <input type="date" id="plant-date" name="PlantDate">
                    </div>
                </div>
                <button type="submit" id="track-crop-btn">Track crop</button>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="error-message">
                    <p>@ViewBag.Error</p>
                </div>
            }
        </section>

        <section class="tracker-form-section">
            <h2>Create a new crop</h2>
            <form id="crop-create-form" asp-action="CreateCrop" method="post">
                <div class="form-row">
                    <label for="crop-name">Crop name</label>
                    <input type="text" id="crop-name" placeholder="Crop name" name="cropName">
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="planting-season-warm">Planting season (Warm climate)</label>
                        <input type="text" id="planting-season-warm" placeholder="Jan-June" name="plantingSeasonWarm">
                    </div>
                    <div>
                        <label for="planting-season-cold">Planting season (Cold climate)</label>
                        <input type="text" id="planting-season-cold" placeholder="Aug-Dec" name="plantingSeasonCold">
                    </div>
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="harvesting-season-warm">Harvesting season (Warm climate)</label>
                        <input type="text" id="harvesting-season-warm" placeholder="Jan-June" name="harvestSeasonWarm">
                    </div>
                    <div>
                        <label for="harvesting-season-cold">Harvesting season (Cold climate)</label>
                        <input type="text" id="harvesting-season-cold" placeholder="Aug-Dec" name="harvestSeasonCold">
                    </div>
                </div>

                <div class="form-row-pair">
                    <div>
                        <label for="days-to-grow">Days to grow</label>
                        <input type="number" id="days-to-grow" placeholder="100" name="daysToGrow">
                    </div>
                </div>
                <div class="form-row-pair">
                    <div>
                        <label for="description">Description</label>
                        <input type="text" id="description" placeholder="Wet earth, 2cm deep." name="cropDescription">
                    </div>
                </div>

                <button type="submit" id="create-crop-btn">Create crop</button>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="error-message">
                    <p>@ViewBag.Error</p>
                </div>
            }
        </section>


        <section class="tracker-form-section">
            <h2>Create a new field</h2>
            <form id="crop-track-form" asp-action="CreateField" method="post">
                <div class="form-row">
                    <label for="field-name">Field name</label>
                    <input type="text" id="field-name" placeholder="Field name" name="FieldName">
                </div>
                <div class="form-row-pair">
                    <div>
                        <label for="field-description">Field description</label>
                        <input type="text" id="field-description" name="description">
                    </div>
                    <div>
                        <label for="hectare">Hectare</label>
                        <input type="number" id="hectare" placeholder="Hectare" name="Hectare">
                    </div>
                </div>

                <button type="submit" id="create-field-btn">Create field</button>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="error-message">
                    <p>@ViewBag.Error</p>
                </div>
            }
        </section>
    </div>

    <section class="tracker-table-section">
        <table>
            <thead>
                <tr>
                    <th>Farm</th>
                    <th>Crop</th>
                    <th>Amount</th>
                    <th>Plant date</th>
                    <th>Harvest date</th>
                    <th>Time left</th>
                    <th>Harvest alert</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="farm-data-table">

                <!-- New rows will be added here -->
            </tbody>
        </table>
    </section>
</div>